@import "../../vendor/scss/neat/neat-helpers";

// file paths
$root_path:                 "/content/themes/<%= themeNameSpace %>/assets/"; // path to HTML document root (relative from CSS)
$images_path:               "#{$root_path}img/"; // path to images (relative from $root_path)
$fonts_path:                "#{$root_path}fonts/"; // path to fonts (relative from $root_path)

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1200);

// breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$small-tablet: new-breakpoint(max-width 767px 8);
$mobile: new-breakpoint(max-width 480px 4);


// sticky foooter
//$footerHeight: 100px;

//colors
$black: rgba(0,0,0,0.8);
$white: rgba(255,255,255,100);
$link:	darkRed;

// ************* Fonts and type ************* //

$font-base: 16 !default;

// font declarations uses webfonts mixin. list each one on a separate line
$web-font-names:            "icomoon";
$web-font-files:            "icomoon";


// import the rest
@import "mixins";
@import "constants";