// mixins

@mixin responsive-reset($chosen-breakpoint:$small-tablet) {
	@include media($chosen-breakpoint) {
		float: none !important; 
		width: 100% !important;
		clear: both;
		margin: 0;
	}
}

// single column for mobile/tablet defaults

.container {
	&>section, &>aside {
		@include responsive-reset;
	}
}

.row { //required class
		&>* {
			@include responsive-reset;
	}
}