@import "../../vendor/scss/neat/neat-helpers";

// file paths
$root_path:                 "/content/themes/<%= themeNameSpace %>/assets/"; // path to HTML document root (relative from CSS)
$images_path:               "#{$root_path}img/"; // path to images (relative from $root_path)
$fonts_path:                "#{$root_path}fonts/"; // path to fonts (relative from $root_path)

// Change the grid settings
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1200);



$footerHeight: 100px;


// breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$small-tablet: new-breakpoint(max-width 767px 8);
$mobile: new-breakpoint(max-width 480px 4);

//colors
$black: rgba(0,0,0,0.8);
$link:	darkRed;

//type adjustments
$headingBase: .69em;

//fonts, uses webfonts mixin. list each one on a separate line
$web-font-names:            "icomoon";
$web-font-files:            "icomoon";




@import "mixins"; // for some reasons to override bourbon mixins this needs to be ported here.