@media screen {
	html {
		position: relative;
		min-height: 100%;
		height: auto !important; //overrides global default
	}
	body {
		margin: 0 0 $footerHeight; //bottom = footer height
		position: static !important // override any injected css saying otherwise
		&>footer {
			position: absolute;
			left: 0;
			bottom: 0;
			height: $footerHeight;
			width: 100%;
			@include media($small-tablet) {
				position: static;
				height: auto;
			}
		}
		@include media($small-tablet) {
			margin-bottom: 0;
		}
	}
}