// framework bourbon : neat / wp_normalize.scss
@import "../../vendor/scss/bourbon/bourbon";
@import "../../vendor/scss/neat/neat";
@import "../../vendor/scss/wp-normalize-scss";

// framework setup and vars
@import "settings/settings"
@import "base/elements";

// responsive base
@import "responsive";

// optional includes
@import "options/wordpress";
// @import "options/sticky-footer";

// neat/bourbon overrides
//@import "settings/overrides";

// <%= themeName %> project-specific styles, include here.
@import "styleguide";
@import "icons";


// *************** SCAFFOLD STYLES ****************** //

/* Remove these when development begins */

body>header, body>footer {
	background: #ccc;
	@include pad($gutter);
} 

.container { 
	@include outer-container;
	@include pad($gutter);
}


section {
	&#main { //main content section
		@include span-columns(8);
	}
	&#the-grid { 
		@include outer-container;
		border: #333 solid 2px;
		div {
			border: #ccc solid 2px;
			&.double {
				@include span-columns(6);
			}
			&.triple { 
				@include span-columns(4);
			}
			&.fourths {
				@include span-columns(3);
				@include media($tablet) {
					@include span-columns(4);
					@include omega(3n);
				}
			}
		}
	}
}

aside {
	@include span-columns(4);
}