// framework bourbon : neat / wp_normalize.scss
@import "../../vendor/scss/bourbon/bourbon";
@import "../../vendor/scss/neat/neat";
@import "../../vendor/scss/wp-normalize.scss/wp-normalize.scss";

// framework setup and vars
@import "settings/settings";
@import "base/elements";

// optional includes
@import "options/wordpress";
// @import "options/sticky-footer";

// neat/bourbon overrides
//@import "settings/overrides";

// <%= themeName %> project-specific styles, include here.
@import "styleguide";
@import "icons";

@import "navigation";


// *************** SCAFFOLD STYLES ****************** //

/* Remove these when development begins */

body>header, body>footer {
	background: #ccc;
	@include pad($gutter);
} 

.container { 
	@include outer-container;
	@include pad($gutter);
}


.site-main {
	@include span-columns(8);
}

.sidebar {
	@include span-columns(4);
}

.nav-footer,
.nav-header {
	list-style: none;
	li {
		display: inline-block;
	}
}