// mixins

@mixin responsive-reset($chosen-breakpoint:$tablet) {
	@include media($chosen-breakpoint) {
		float: none !important; 
		width: 100% !important;
		clear: both;
		margin: 0;
	}
}

// single column for mobile/tablet defaults

.container {
	&>section, &>aside {
		@include responsive-reset;
	}
}

.row { //required class
	// &>div, &>article, &>aside, &>section {
		&>* {
			@include responsive-reset;
	}
}