// mixins

%responsive-reset {
	@include media($tablet) {
		float: none !important; 
		width: 100% !important;
		clear: both;
		margin: 0;
	}
}

// single column for mobile/tablet defaults

.container {
	&>section, &>aside {
		@extend %responsive-reset;
	}
}

.row { //required class
	&>div {
			@extend %responsive-reset;
	}
}